<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="btn btn-link p-0 text-light"
          type="button"
          data-toggle="navdrawer"
          data-target="#appNavdrawer"
          aria-controls="appNavdrawer"
          aria-label="Toggle Navigation">
          <span class="material-icons ">menu</span>
  </button>

  <a class="navbar-brand ml-2" href="#">Home</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Tab #1</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Tab #2</a>
      </li>
    <!-- other menu styles
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Dropdown
        </a>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
      -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Quick Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
